body {
    font-family: Arial, Helvetica, sans-serif;

}

header {
  margin: 0;
  padding: 0;
}
nav {
    background-color: grey;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

nav :first-child {
    font-size: larger;
}

nav > button {
    padding: 10px;
    border: 3px solid white;
    border-radius: 4px;
    background-color: grey;
    color : white;
    width: 100px;
}

.header_title {
    position: absolute;
    left: 50%;
    
}